<h2>Form</h2>
<div class="container">
    <form #f="ngForm" ngForm>
      <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" required minlength="3" ngModel>
          <p>{{ nameMsg }}</p>
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" class="form-control" id="age" name="age" required ngModel>
        <p>{{ ageMsg }}</p>
    </div>
      
    </form>
    <button type="button" class="btn btn-default" (click)="onSubmit(f.value)">Submit</button>
  </div>
  