<h1>Welcome!</h1>
<div class="container">
  <nav class="navbar navbar=default">
    <div class="container-fluid">
      <!-- div class="navbar-header">
        <a class="navbar-brand" href="#">Project</a>
      </div -->
      <ul class = "nav navbar-nav">
        <li>
          <a routerLink="/fv" routerLinkActive="active">Form Validation</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>